* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.li1 {
    color: red;
}

a {
    text-decoration: none;
}

.leftbar,
.rightbar {
    background-color: #f1f1f1;
    color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tabbar {
    border: 3px solid gray;
    height: 150px;
}

.baner {
    background-image: url(banner.png);
    background-repeat: no-repeat;
    max-width: 100%;
}

.row {
    display: flex;
    flex-direction: column;
}

.col {
    width: 100%;
}

.text1,
.text2 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}